.element__heart {
  background-image: url(../../../images/element-heart.svg);
  background-color: #FFFFFF;
  object-fit: cover;
  border: none;
  width: 22px;
  height: 19px;
  margin: 30px 20px 30px 0;
  cursor: pointer;
  transition: opacity, 0s, ease-out, 0.5s;
}

.element__heart:hover {
  opacity: 0.5;
}